@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

$big-shoulders: "Big Shoulders", sans-serif;
$roboto: 'Roboto Condensed', sans-serif;


$primary:#EEEEEE;
$secondary:#4E4FEB;
$tertiary:#068FFF;