@use './variables.scss' as variables;

@use "sass:math";
@use "sass:string";

@function multiple-box-shadow($n) {
  $value: "#{math.random(2000)}px #{math.random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{math.random(2000)}px #{math.random(2000)}px #FFF";
  }
  @return string.unquote($value);
}



$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: variables.$roboto;
  font-weight: 300;
  color: variables.$primary;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  background-attachment: fixed;
}

.page-wrapper {
  position: relative;
  z-index: 1;
}

.star-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

#stars, #stars2, #stars3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4000px; // Or use 100vh * number of scroll sections
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


.content {
  position: relative;
  z-index: 1; // To be above the stars
  padding: 20px;
}

/* For modern browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* light neutral background for contrast */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #4E4FEB, #068FFF);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #068FFF, #4E4FEB);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4E4FEB transparent;
}
